<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
    <mapper namespace="com.chen.li.mapper.NextTestMapper">
        <insert id="add" parameterType="NextTestBean" >
            insert into springmvc_test ( name, age, phoneNumber ) values (#{name}, #{age}, #{phoneNumber})   
        </insert>
         
        <delete id="delete" parameterType="NextTestBean" >
            delete from springmvc_test where id= #{id}  
        </delete>
         
        <select id="get" parameterType="_int" resultType="NextTestBean">
            select * from   springmvc_test  where id= #{id}   
        </select>
 
        <update id="update" parameterType="NextTestBean" >
            update springmvc_test set name=#{name} where id=#{id}   
        </update>
        <select id="list" resultType="NextTestBean">
            select * from   springmvc_test     
        </select>    
    </mapper>